<%- include("header") -%>

    <div class="container0" style="padding-top: 50px;">

        <div class="container1">

            <div class="slip">
                <img src="images/tonew.png" class="img1">
                <img src="images/sa.jpg" class="img1">
                <img src="images/work.webp" class="img1">
                <img src="images/lovepik.jpg" class="img1">
                <img src="images/dd.webp" class="img1">
                <img src="images/do.jpg" class="img1">
            </div>

            <div>
                <div class="day">                    
                        <%=KindOfDay %> 
                        <a href="logout" class="logout">logout</a>     
                </div><br><br>

                <div class="cover">
                    <div class="box">
                        <form action="/event" method="post" class="item">
                            <input type="text" name="task" value="<%= enterTask %>" placeholder="Enter Task" autocomplete="off" required>
                            <button type="submit" name="button" value=<%= valid %>>+</button>
                        </form>
                        <% taskItems.forEach((el)=>{ %>
                            <form action="/delete" method="post">
                                <div class="item editBut">
                                    <input type="checkbox" onClick="this.form.submit()" value="<%= el._id %><%= valid %>" name="checkbox">
                                    <p> <%= el.name %> </p>
                                </div>
                            </form>
                            <form action="/edit" method="post">                    
                                <button type="submit" name="edit" class="edi" value="<%= el._id %><%= valid %>"> edit </button>                  
                            </form> 
                            <% }) %> 
                    </div>
                </div>
            </div>

        </div>

        <div class="container2">
            <div class="sec">
                <img src="images/kin 4.png" class="work">
                <h5>Research can find answers to things that are unknown, filling gaps in knowledge and changing the way that organiser professionals work.</h5>
            </div>
            <div class="sec">
                <img src="images/kin1.png" class="work">
                <h5>To prepare yourself for the transition back to the office, breakdown the given task into smaller task and track it as soon as possible.</h5>
            </div>
            <div class="sec">
                <img src="images/kin2.png" class="work">
                <h5>Organizations must reimagine their work and the role of internet service in creating safe, productive, and enjoyable jobs.</h5>
            </div>
            <div class="sec">
                <img src="images/kin3.png" class="work">
                <h5>A site design to guide you achieving  successful accomplishment that will help you meet up deadlines, which is suitable for many different publications.</h5>
            </div>
        </div>

    </div>


    <%- include("footer") -%>